@font-face {
    font-family: "Mariupol-Medium";
    src: url(../font/Mariupol-Medium.ttf);
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: "Mariupol-Medium";
}
