@font-face {
    font-family: "Mariupol-Medium";
    src: url(../font/Mariupol-Medium.ttf);
}



/* Добавление отступов между секциями */
section {
    margin-bottom: 20px; /* Регулируйте эту величину по своему усмотрению */
    padding: 20px;

}

/* Стили для первой секции (Превью) */
.previu {
    background-color: #f9f9f9; /* Цвет фона */
}

/* Стили для второй секции (Информация о проекте) */
.block_info:nth-child(3) { /* Измените на соответствующий индекс, если это не вторая секция */
    background-color: #000A16; /* Цвет фона */
}

/* Стили для третьей секции (Преимущества сборки) */
.block_info:nth-child(5) { /* Измените на соответствующий индекс */
    background-color: #000A16; /* Цвет фона */
}


body {
    width: 100%;
    margin:0;
    padding:0;
    background-color: #000A16;
    font-family: "Mariupol-Medium";
}

footer {
    flex: 0 0 auto;
    height: 3em;
    width: 100%;
    background-color: #6ba0cc;
}


.bnav_panel {
    height: 4em;
}


main{
    width: 100%;
}

.previu {
    width: 100%;
    display: flex;
    background-color: #030a1a;
}

.previu .text{
    width: 40%;
    font-size: 40pt;
    color: white;
    background-color: #030a1a;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.image{
	border:0;
    width: 60%;
	/*
	filter:blur(5px);
	*/
}
.Pimage{
    width: 100%;
    background-color: #030a1a;
}



.top_panel {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.batton {
    width: 300px;
    height: 70px;
	border: 0;
	border-radius: 5px;
    background-color: #6ba0cc;
    font-family: "Mariupol-Medium";
    color: white;
    font-size: 20pt;
}

.batton:hover{
	box-shadow: 0px 0px 20px 4px white; 
}

.batton p{
    font-size: 0.7em;
    text-align: center;
}

.top_laptop {
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;
    width: 90%;
}
.top_battons {
    display: flex;
    width: 100%;
    max-width: 1880px;
    align-items: center;
    justify-content: center;
    background-color: #030a1a;
}

.name_batton {
    width: 26em;
    height: 5%;
    padding: 0 0 0 0 ;
    margin: 1%;
    background-color: #6ba0cc;
    color: white;
    text-align: center;
}

.t_laptop {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.tl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4%;
    background-color: #030a1a;
    color: white;
    font-family: "Mariupol-Medium";
    text-align: center;
}

.name_laptop{
    font-size: 2em;
}
.price{
    font: 1.4em;
}

.tbatton {
    width: 80%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6ba0cc;
    font-size: 100%;
}


.block_info {
    background-color: #030a1a;
    display: flex;
    width: 100%;
}
.info_image{
	border:0;
    width: 100%;
	/*
	filter: blur(5px);
	*/
	
}
.info_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: white;
    font-size: 1.8em;
    text-align: center;
	border:0;
}
.info_h_text{
    margin-bottom: 0;
}
.inf_main_text {
    font-size: 0.8em;
    font-family: Calibri;
    padding: 3%;
}

.friends{
    color:white;
    font-size: 4em;
    text-align: center;
}

.business_partners {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.b_friend {
    display: flex;
    background-color: #030a1a;
    width: 100%;
    min-width: 100px;
    height: 100%;
    min-height: 200px;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
    justify-content: center;
}
footer {
    display: flex;
    align-items: center;
}
.icopyrights{
    width: 100px;
    padding-left: 5px;
}
footer b{
    padding-left: 10px;
    font-family: Calibri;
    font-size: 20pt;
    color: white;
}


@media screen and (max-width: 1000px) {
    .previu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text{
        padding-bottom: 40px;
    }
    .info_image{
        display: none;
    }

}
